footer {
    text-align: center;
    background-color: #189BCC;
    padding: 2.2rem 0;
    bottom: 0;
    width: 100%;
    margin-top: 10rem;
}

.blur-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

footer .container p {
    text-align: center;
    color: white;
}

.profile {
    width: 3rem;
    height: 3rem;
}

.header-icon {
    width: 1.7rem;
    height: 1.7rem;
    fill: white;
}

.header-icon:hover {
    width: 1.7rem;
    height: 1.7rem;
    fill: #1f195e;
}

.bg-custom {
    background-color: #189BCC;
    color: #1f195e;
}

.posts {
    max-width: 45rem;
    margin: 1rem auto;
}

.like-icon {
    margin-top: 0.3rem;
    width: 1.7rem;
    height: 1.7rem;
    color: rgb(219, 51, 79);
}

.comment-icon {
    width: 2.2rem;
    height: 2.2rem;
}

.posts .card {
    margin: 2rem;
    position: relative;
}

.misinformation {
    display: none;
}

.settings {
    margin: 0 auto;
    max-width: 50rem;
    ;
}

main {
    margin-top: auto;
}

.text-over-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* Ensure the text is above the card content */
    color: white;
    /* Set the text color */
    padding: 10px;
}

.card-body {
    overflow: hidden;
    display: inline-block;
    max-height: 40rem;
    /* Set your desired maximum height */
    overflow: hidden;
}

.caption {
    display: none;
}

.card-body img {
    filter: blur(20px) brightness(0.3);
    width: 100%;
    /* Ensure the image takes the full width of the container */
    height: auto;
    /* Maintain the aspect ratio */

}

.good-post .caption {
    display: block;
}

.good-post img {
    filter: none;
}

.good-post .text-over-card {
    display: none;
}

#new-post-form {
    display: none;
}

#add-post-section img {
    margin-right: 0.8rem;
}

#add-post-section {
    max-width: 41rem;
    margin: 1rem auto;
}

.logo {
    width: 1.7rem;
    height: 1.7rem;
    margin: 0 0.6rem 0 2rem;
}

.warning-banner {
    background-color: rgb(255, 174, 0);
    padding: 1rem;
    padding-top: 1.5rem;
    display: flex;
}

.warning-banner svg {
    color: rgb(198, 35, 35);
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.warning-banner p {
    font-size: 1.2rem;
}

header .navbar-brand {
    font-family: 'Sometype Mono', monospace;
    font-size: 1.8rem;
    color: white;
}

header .navbar-brand:hover {
    color: white !important;
}