footer{
    text-align: center;
    background-color:	#189BCC;
    padding: 2rem 0;
}

footer .container p{
    text-align: center;
    color: #1f195e;
}

.post-img{
    width: 40px; 
    height: 40px;
}

.header-icon{
    width: 1.7rem;
    height: 1.7rem;
    color: black;
}

.bg-custom {
    background-color: #189BCC;
    color: #1f195e;
  }

.posts{
    max-width: 50rem;
    margin: 1rem auto;
}

