footer{
    text-align: center;
    background-color:	#189BCC;
    padding: 2rem 0;
}

.blur-image{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

footer .container p{
    text-align: center;
    color: #1f195e;
}

.profile{
    width: 3rem; 
    height: 3rem;
}

.header-icon{
    width: 1.7rem;
    height: 1.7rem;
    color: black;
}

.bg-custom {
    background-color: #189BCC;
    color: #1f195e;
  }

.posts{
    max-width: 45rem;
    margin: 1rem auto;
}

.like-icon{
    margin-top: 0.3rem;
    width: 1.7rem;
    height: 1.7rem;
    color: rgb(219, 51, 79);
}

.comment-icon{
    width: 2.2rem;
    height: 2.2rem;
}

.posts .card{
    margin: 2rem;
    position: relative;
}

.settings{
    margin: 0 auto;
max-width: 50rem;;
}

main{
    margin-top: auto;
}

  .text-over-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the text is above the card content */
    color: white; /* Set the text color */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px;
    display: none; /* Hide by default */
  }

.bad-post{
    filter: blur(8px);
}

.bad-post-msg{
    display: flex;
}